[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
numpy = "*"
deepchem = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
rdkit-pypi = "*"
dgl = "*"
dgllife = "*"
tensorflow-cpu = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.7"
